<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wtcrmandroid">
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--SD卡读写的权限（如果需要保存音频文件到本地的话）-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 日志管理 -->
        <activity android:name=".activity.JournalManagerActivity">
        </activity>
        <!-- 写日计划 -->
        <activity android:name=".activity.WriteDayPlanActivity">
        </activity>

        <!-- 写日总结 -->
        <activity android:name=".activity.WriteDaySumActivity">
        </activity>

        <!-- 写周计划界面 -->
        <activity android:name=".activity.WriteWeekPlanActivity">
        </activity>

        <!-- 我的日志 -->
        <activity android:name=".activity.MyJournalActivity">
        </activity>
        <activity android:name=".activity.SingleCustomer">
        </activity>
        <activity android:name=".activity.MajorCustomerActivity">
        </activity>
        <activity android:name=".activity.GetMoneyActivity">
        </activity>
        <activity android:name=".activity.TodayWorkLoadActivity">
        </activity>
        <activity android:name=".activity.GetSingleCustomerActivity">
        </activity>
        <activity android:name=".activity.AddPurposeCustomerActivity">
        </activity>
        <!--部门员工日志管理首页-->
        <activity android:name=".activity.DepartmentEmployeesLogManagementMainActivity"/>
        <!--部门员工日志管理搜索页-->
        <activity android:name=".activity.DepartmentEmployeesLogManagementSerachActivity"/>
    </application>

</manifest>